body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapContainer {
  width: 50%;
  height: 100vh;
  position: relative;
  background-color: lightblue;
  overflow: hidden;
}

.quakeContainer {
  width: 50%;
  height: 100vh;
  padding: 2em;
  background-color: pink;
}
